@import "../assets/base.css";

/* 添加样式，使内容更易读 */
body {
    font-family: Arial, sans-serif;
}

.articles-list {
    padding: 30px;

    >div {
        height: 1.5em;
        line-height: 1.5em;

    }
}

main a {
    color: black;

    &:visited {
        color: transparent;
    }
}

button {
    margin: auto 20px;
}