@import "../assets/base.css";

header {
    justify-content: center;
}

.user-profile {
    display: flex;
    align-items: center;
}   

.user-profile span {
    font-weight: bold;
}


.function-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.button {
    margin: 20px 18px;
    padding: 90px;
    text-decoration: none;
    font-weight: bold;
    display: flexbox;
    border-radius: 10px;
    width: 72px;
    height: 36px;
}
.button a{
    color: white;
}

.blue {
    background-color: var(--color-blue);
    &:hover{
        background-color: var(--color-light-blue);
    }
}

.green {
    background-color: var(--color-green);
    &:hover{
        background-color: var(--color-light-green);
    }
}

.orange {
    background-color: var(--color-orange);
    &:hover{
        background-color: var(--color-light-orange);
    }
}

.purple{
    background-color: var(--color-purple);
    &:hover{
        background-color: var(--color-light-purple);
    }
}
.cyan{
    background-color: var(--color-cyan);
    &:hover{
        background-color: var(--color-light-cyan);
    }
}
.red{
    background-color: var(--color-red);
    &:hover{
        background-color: var(--color-light-red);
    }
}