@import "../assets/base.css";

header {
    justify-content: center;
}

.user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}   

.user-profile span {
    font-weight: bold;
}


.function-buttons {
    width: var(--block-width);
    height: var(--block-height);
    display: flex;
    justify-content: center;
}

.button {
    margin: 10px;
    padding: 100px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 0;
}

.blue {
    background-color: #0078d4;
}

.green {
    background-color: #4caf50;
}

.orange {
    background-color: #ff9800;
}