@import "../assets/base.css";

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body * {
    margin: auto auto;
    align-content: space-evenly;
    justify-content: center;
    display: block;
}

.container {
    margin: 100px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 35px;
    width: 450px;
    height: 600px;
    justify-content: center;
    align-items: center;
    display: grid;
}

.container * {
    display: block;
}

.container p a {
    display: inline;
    color: black;
    font-weight: bold;
}

.container h1,
.form-button {
    margin: 20px auto;
}

.form-input {
    width: 225px;
    height: 40px;
    font-size: 18px;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    margin: 16px;
}

.form-button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #0078d4;
    color: white;
}
