@import "../assets/base.css";

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}



button {
    padding: 15px;
    margin: 10px;
}

.delete-button {
    padding: 0.5em;
    margin: 0.25em;
    width: 3em;
}

table {
    margin: auto;
}