@import "../assets/base.css";

.word-container {
    background-color: white;

    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}


.word-actions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.word-actions button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.word-progress {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#spelling-input {
    /* 设置文本框的样式 */
    width: 200px;
    height: 40px;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    margin-top: 10px;
    /* 下方间距为 10px */
}

input {
    margin: 10px 20px;
    line-height: 1.25em;
    padding: 0.25em;
    font-size: 18px;
    outline: 0;
}

table {
    margin: auto;
}