body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #0078d4;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: center;
}

.word-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.word-container h1 {
    font-size: 36px;
}

.word-actions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.word-actions button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.word-progress {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
#spelling-input {
    /* 设置文本框的样式 */
    width: 200px;
    height: 40px;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    margin-top: 10px; /* 下方间距为 10px */
}