@import "../assets/base.css";

main>div {
    text-align: start;
    padding: 40px 60px 80px;
}

input {
    margin: 10px 5px;
    line-height: 1.25em;
    padding: 0.25em;
    font-size: large;
    display: block;
}

button {
    margin: 5px 10px;
}